#!/bin/sh
#
# Cloud Hook: post-db-copy
#
# The post-db-copy hook is run whenever you use the Workflow page to copy a
# database from one environment to another. See ../README.md for
# details.
#
# Usage: post-db-copy site target-env db-role source-env

site="$1"
target_env="$2"
db_role="$3"
source_env="$4"
uri=`/usr/bin/env php ../../acquia/uri.php $site $target_env $db_role`

# e.g.
# drush5 @$site.$target_env --uri=$uri vget domain

